[package]
name = "dev-cli"
version = "0.2.0"
edition = "2021"

[lints]
workspace = true

[[bin]]
name = "dev-cli"
path = "src/main.rs"

[dependencies]
alpen-bridge-params.workspace = true
libp2p-identity = { workspace = true, features = ["ed25519"] }
strata-bridge-common.workspace = true
strata-bridge-connectors.workspace = true
strata-bridge-primitives.workspace = true
strata-bridge-proof-protocol.workspace = true
strata-bridge-proof-snark.workspace = true
strata-bridge-rpc = { workspace = true, features = ["client"] }
strata-bridge-tx-graph.workspace = true
strata-key-derivation.workspace = true

alloy.workspace = true
alloy-signer.workspace = true
anyhow.workspace = true
bitcoin.workspace = true
bitcoin-bosd.workspace = true
bitcoincore-rpc.workspace = true
bitvm.workspace = true
borsh.workspace = true
clap.workspace = true
hex.workspace = true
jsonrpsee = { workspace = true, features = ["client", "macros"] }
miniscript.workspace = true
musig2.workspace = true
secp256k1 = { workspace = true, features = ["global-context", "rand"] }
serde.workspace = true
serde_json.workspace = true
sp1-verifier.workspace = true
tokio.workspace = true
toml.workspace = true
tracing.workspace = true
