[package]
name = "strata-bridge-test-utils"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
strata-bridge-primitives.workspace = true
strata-bridge-types.workspace = true

arbitrary.workspace = true
bitcoin.workspace = true
bitcoind-async-client.workspace = true
bitvm.workspace = true
corepc-node.workspace = true
corepc-types.workspace = true
hex.workspace = true
musig2.workspace = true
rand_core = { version = "0.9.1", default-features = false, features = [
  "os_rng",
] }
secp256k1.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
