[package]
name = "alpen-bridge"
version = "0.2.0"
edition = "2021"

[lints]
workspace = true

[[bin]]
name = "alpen-bridge"
path = "src/main.rs"

[dependencies]
alpen-bridge-params.workspace = true
btc-tracker.workspace = true
duty-tracker.workspace = true
operator-wallet.workspace = true
secret-service-client.workspace = true
strata-bridge-asm-events.workspace = true
strata-bridge-connectors.workspace = true
strata-bridge-db.workspace = true
strata-bridge-p2p-service.workspace = true
strata-bridge-primitives.workspace = true
strata-bridge-rpc.workspace = true
strata-bridge-stake-chain.workspace = true
strata-bridge-tx-graph.workspace = true
strata-p2p.workspace = true
p2p-types.workspace = true
strata-params.workspace = true
strata-primitives.workspace = true

strata-bridge-common.workspace = true
strata-tasks.workspace = true

anyhow.workspace = true
async-trait.workspace = true
bdk_bitcoind_rpc.workspace = true
bincode.workspace = true
bitcoin.workspace = true
bitcoind-async-client.workspace = true
chrono.workspace = true
clap.workspace = true
hex.workspace = true
jsonrpsee = { workspace = true, features = ["client", "server"] }
libp2p = { workspace = true, features = ["secp256k1"] }
musig2.workspace = true
rustls-pemfile = "2.2.0"
secp256k1.workspace = true
secret-service-proto.workspace = true
serde.workspace = true
serde_json.workspace = true
sqlx.workspace = true
tokio.workspace = true
toml.workspace = true
tracing.workspace = true
ed25519-dalek.workspace = true

[target.'cfg(not(target_env = "msvc"))'.dependencies]
memory_pprof = { path = "../../crates/memory_pprof", optional = true }
tikv-jemallocator = "0.6"

[features]
default = []
# not compatible with windows/msvc
memory_profiling = [
  "tikv-jemallocator/profiling",
  "tikv-jemallocator/unprefixed_malloc_on_supported_platforms",
  "dep:memory_pprof",
]
